/* header */
#header {
width: 85%;
}

#header_wrapper {
height: 36px;
background-color: #1b1b1b;
padding: 2px 0px 2px 0px;
background-image: url(http://se5revolution.s3.amazonaws.com/uploads/994/26290.png);
background-repeat: repeat-x;
}

#header #logo a {
color: #fff;
}

#header #menu > ul.nav > li > a {
font-weight: normal;
color: #bbb;
padding: 0px 15px 0px;
}

#header #menu > ul.nav > li > a:hover {
color: #fff;
}

#header #menu > ul.nav > li.active > a {
font-weight: normal;
color: #fff;
}

.icon-flag {
background-position: -48px -144px;
}

#content {
margin: 0px;
}

/* ads */
#ads_header {
text-align:center;
padding-bottom: 20px;
}

#ads_post_below {
text-align:center;
padding-bottom: 20px;
padding-top: 20px;
}

#ads_post_sidebar {
text-align:center;
margin-top: 20px;
}

#content_wrapper {
padding-top: 40px;
}

.modal {
border: 0px solid #999;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.modal-backdrop {
overflow-x: hidden;
overflow-y: auto;
background-color: 
rgba(255, 255, 255, 0.8);
}

.modal-backdrop {
overflow-x: hidden;
overflow-y: auto;
background-color: 
rgba(255, 255, 255, 0.8);
}

.close {
display: none!important;
}

/* post create button */
#post_create {
padding: 0px 0px 20px 0px;
text-align: center;
}

/* domains */
.posts .post_domain > a {
display: none;
}


/* post content */
#post_info {
background-color: #222;
color: #fff;
}

#page_post .post_options, #item_gallery .post_options {
padding: 0px 20px 20px 20px;
font-size: 11px;
}

#page_post .post_content, #item_gallery .post_content {
padding: 0px;
}

#page_post .post_title, #item_gallery .post_title {
font-size: 22px;
color: #fff;
padding: 20px 20px 0px 20px;
margin-bottom: 0px;
}


#page_post .post_title a, a #item_gallery .post_title a {
color: #fff;
}

#page_post .post_domain > a, #item_gallery .post_domain > a {
color: #999;
font-size: 13px;
}


#page_post .post_photo, #item_gallery .post_photo {
background-color: #fff;
}

#page_post .post_media, #item_gallery .post_media {
padding: 60px 20px 20px 20px;
}

#page_post .post_inner2, #item_gallery .post_inner2 {
padding-left: 20px;
padding-right: 20px;
}

#page_post .comments, #item_gallery .comments {
padding-left: 20px;
padding-right: 20px;
}

#page_post .post_content .likes_list, #item_gallery .post_content .likes_list {
padding-left: 20px;
padding-right: 20px;
}

#page_post .comments .comment_options, #item_gallery .comments .comment_options {
margin-top: 0px;
}

#post-control-bar {
background-color: 
#f4f4f4;
box-shadow: 0 0 0 1px #fff inset, 0 1px 0 rgba(0,0,0,0.15);
-moz-box-shadow: 0 0 0 1px #fff inset, 0 1px 0 rgba(0,0,0,0.15);
-webkit-box-shadow: 0 0 0 1px #fff inset, 0 1px 0 rgba(0,0,0,0.15);
height: 41px;
min-width: 745px;
margin-bottom: -42px;
z-index: 3;
position: absolute;
}

#post-control-bar-below {
background-color: 
#f4f4f4;
box-shadow: 0 0 0 1px #fff inset, 0 1px 0 rgba(0,0,0,0.15);
-moz-box-shadow: 0 0 0 1px #fff inset, 0 1px 0 rgba(0,0,0,0.15);
-webkit-box-shadow: 0 0 0 1px #fff inset, 0 1px 0 rgba(0,0,0,0.15);
height: 41px;
min-width: 745px;
z-index: 3;
}

#page_post .post_media, #item_gallery .post_media {
padding-top: 60px;
}

.spread-bar {
width: auto;
height: 20px;
padding: 10px 0;
margin: 0 auto;
position: relative;
margin-left: 20px;
float: left;
list-style-type: none;
display: inline;
}

.spread-bar li {
float: left;
margin-right: 10px;
}

/* comments posts */
#page_post .comments .comment_options, #item_gallery .comments .comment_options {
display: none;
}

/* sidebar posts */

.social_follow {
padding: 12px 15px 15px;
border: 1px solid #ddd;
width: 268px;
background-color: #fff;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.facebook_follow {
padding-top: 7px;
padding-bottom: 5px;
}

.twitter_follow {
padding-top: 7px;
padding-bottom: 5px;
border-top: 1px solid #ddd;
}

.other_follow {
padding-top: 7px;
padding-bottom: 5px;
border-top: 1px solid #ddd;
}

.other_follow h4 {
line-height: 28px;
float: left;
margin-right: 15px;
}

.other_follow a {
display: inline-block;
margin-right: 10px;
}

#page_post .gutter {
width: auto;
}

[class^="icon-"], [class*=" icon-"] {
display: inline-block;
width: 14px;
}

.fg {
padding: 0px 15px 15px;
border: 1px solid #ddd;
width: 268px;
background-color: #fff;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
margin-top: 20px;
}

.site_info_wrapper .btn {
display: block;
margin-top: 20px;
}

.activity > li + li {
margin-top: 1.3em;
}

.activity > li {
font-size: 1em;
padding-left: 30px;
line-height: 1.2em;
}

div.addthis-content-footer {
display: none;
}

/* profile */

#page_profile .profile .member_stats > li {
font-size: 16px;
}