#header_wrapper {
height: 36px;
background-color: #1b1b1b;
padding: 2px 0px 2px 0px;
background-image: url(http://se5revolution.s3.amazonaws.com/uploads/994/26290.png);
background-repeat: repeat-x;
}

#header #logo a {
color: #fff;
}

#header #menu > ul.nav > li > a {
font-weight: normal;
color: #bbb;
padding: 0px 15px 0px;
}

#header #menu > ul.nav > li > a:hover {
color: #fff;
}

#header #menu > ul.nav > li.active > a {
font-weight: normal;
color: #fff;
}

#content {
margin: 0px;
}

/* ads */
#ads_header {
text-align:center;
padding-bottom: 20px;
}

#ads_post_below {
text-align:center;
padding-bottom: 20px;
}

#ads_post_sidebar {
text-align:center;
}

#content_wrapper {
padding-top: 40px;
}

.modal {
border: 0px solid #999;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.modal-backdrop {
overflow-x: hidden;
overflow-y: auto;
background-color: 
rgba(255, 255, 255, 0.8);
}

.modal-backdrop {
overflow-x: hidden;
overflow-y: auto;
background-color: 
rgba(255, 255, 255, 0.8);
}

.close {
display: none!important;
}

/* post create button */
#post_create {
padding: 0px 0px 20px 0px;
text-align: center;
}

/* domains */
.posts .post_domain > a {
display: none;
}

/* sidebar posts */

.social_follow {
padding: 12px 15px 15px;
border: 1px solid #ddd;
width: 268px;
background-color: #fff;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.facebook_follow {
padding-top: 7px;
padding-bottom: 5px;
}

.twitter_follow {
padding-top: 7px;
padding-bottom: 5px;
border-top: 1px solid #ddd;
}

.other_follow {
padding-top: 7px;
padding-bottom: 5px;
border-top: 1px solid #ddd;
}

.other_follow h4 {
line-height: 28px;
float: left;
margin-right: 15px;
}

.other_follow a {
display: inline-block;
margin-right: 10px;
}

#page_post .gutter {
width: auto;
}